<div style="margin: 15px;">
	<form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">金额</label>
            <div class="layui-input-block">
                <input type="text" disabled="disabled" class="layui-input" value="${item.amount!"" }">
            </div>
        </div>
		<div class="layui-form-item">
			<label class="layui-form-label">银行卡号</label>
            <div class="layui-input-block">
            	<input type="text" disabled="disabled" class="layui-input" value="${item.bankNo!"" }">
			</div>
		</div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
				<#if item.status = 0>
                    <input type="text" style="color: black" disabled="disabled" class="layui-input" value="已提交" }">
				<#elseif item.status = 1>
                    <input type="text" style="color: blue" disabled="disabled" class="layui-input" value="成功" }">
				<#elseif item.status = 2>
                    <input type="text" style="color: green" disabled="disabled" class="layui-input" value="失败" }">
				<#elseif item.status = 9>
                    <input type="text" style="color: orange" disabled="disabled" class="layui-input" value="拒绝" }">
				<#else>
				</#if>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input type="text" disabled="disabled" class="layui-input" value="${item.remark!"" }">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-block">
                <input type="text" disabled="disabled" class="layui-input" value="${item.createTime?datetime!}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">更新时间</label>
            <div class="layui-input-block">
                <input type="text" disabled="disabled" class="layui-input" value="${item.updateTime?datetime!}">
            </div>
        </div>
	</form>
</div>